// FONTS
$font-stack: Roboto, sans-serif;

// HEADER
$header-height: 6.875rem;
$logo-height: 4rem;

// CONTENT
$content-padding: 1.25rem;

// WATCH
$watch-img-height: 25rem;

$primary-color: #080808;
$secondary-color: #787878;
$bg-color: #0a1b28;
